html.dark {
  /* 主色   */
  --primary-color: #3c7eff;
  --primary-hover-color: #306fff;
  --primary-click-color: #689fff;
  --primary-special-color: #1d4dd2;
  --primary-active-color: #0e32a6;
  --primary-disabled-color: #041b79;
  --primary-light-color: rgba(60, 126, 255, 0.2);
  --primary-hover-light-color: rgba(60, 126, 255, 0.35);
  --primary-disabled-light-color: rgba(60, 126, 255, 0.5);

  /* Normal */
  --normal-color: #929293;
  --normal-hover-color: #78787a;
  --normal-click-color: #ababac;
  --normal-special-color: #5f5f60;
  --normal-active-color: #484849;
  --normal-disabled-color: #2e2e30;
  --normal-light-color: rgba(146, 146, 147, 0.2);
  --normal-hover-light-color: rgba(146, 146, 147, 0.35);
  --normal-disabled-light-color: rgba(146, 146, 147, 0.5);

  /* Success */
  --success-color: #27c346;
  --success-hover-color: #1db440;
  --success-click-color: #50d266;
  --success-special-color: #129a37;
  --success-active-color: #0a802d;
  --success-disabled-color: #046625;
  --success-light-color: rgba(39, 195, 70, 0.2);
  --success-hover-light-color: rgba(39, 195, 70, 0.35);
  --success-disabled-light-color: rgba(39, 195, 70, 0.5);

  /* Warning */
  --warning-color: #ff9626;
  --warning-hover-color: #ff8d1f;
  --warning-click-color: #ffb357;
  --warning-special-color: #d26913;
  --warning-active-color: #a64b0a;
  --warning-disabled-color: #793004;
  --warning-light-color: rgba(255, 150, 38, 0.2);
  --warning-hover-light-color: rgba(255, 150, 38, 0.35);
  --warning-disabled-light-color: rgba(255, 150, 38, 0.5);

  /* Danger */
  --danger-color: #f76965;
  --danger-hover-color: #f54e4e;
  --danger-click-color: #f98d86;
  --danger-special-color: #cb2e34;
  --danger-active-color: #a1161f;
  --danger-disabled-color: #770611;
  --danger-light-color: rgba(247, 105, 101, 0.2);
  --danger-hover-light-color: rgba(247, 105, 101, 0.35);
  --danger-disabled-light-color: rgba(247, 105, 101, 0.35);

  /* Border */
  --border-color: #484849;
  --border-hover-color: #5f5f60;
  --border-disabled-color: #2e2e30;
  --border-heavey-color: #929293;

  /* BackgroundColor */
  --bg-color: #2e2e30;
  --bg-hover-color: #484849;
  --bg-disabled-color: #17171a;
  --bg-heavey-color: #5f5f60;

  /* TextColor */
  --text-color-1: #f6f6f6;
  --text-color-2: #c5c5c5;
  --text-color-3: #929293;
  --text-color-4: #5f5f60;
  --text-color-5: #fff;
  --text-disabled-color: hsla(0,0%,100%,.3);
}
