.lotus-button {
  --lotus-button-font-weight: var(--lotus-font-weight-400);
  --lotus-button-border-color: var(--border-color);
  --lotus-button-bg-color: var(--bg-color);
  --lotus-button-text-color: var(--text-color-2);
  --lotus-button-disabled-text-color: var(--text-color-4);
  --lotus-button-disabled-bg-color: var(--bg-disabled-color);
  --lotus-button-disabled-border-color: var(--border-disabled-color);
  --lotus-button-hover-text-color: var(--text-color-1);
  --lotus-button-hover-bg-color: var(--bg-hover-color);
  --lotus-button-hover-border-color: var(--border-hover-color);
  --lotus-button-active-text-color: var(--text-color-1);
  --lotus-button-active-border-color: var(--border-hover-color);
  --lotus-button-active-bg-color: var(--bg-hover-color);
  --lotus-button-outline-color: var(--primary-hover-color);
  --lotus-button-active-color: var(--primary-color);
}

.lotus-button-group {
  --lotus-button-group-border-color: var(--border-color);
}

.lotus-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: var(--lotus-button-font-weight);
  user-select: none;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  color: var(--lotus-button-text-color);
  background-color: var(--lotus-button-bg-color);
  border-color: var(--lotus-button-border-color);
  border-style: solid;
  border-width: var(--lotus-border-1);
  padding: 8px 15px;
  font-size: var(--lotus-font-size-default);
  border-radius: var(--lotus-border-radius-default);
  & + & {
    margin-left: 12px;
  }
  &:hover,
  &:focus {
    color: var(--lotus-button-hover-text-color);
    border-color: var(--lotus-button-hover-border-color);
    background-color: var(--lotus-button-hover-bg-color);
    outline: none;
  }
  &:active {
    color: var(--lotus-button-active-text-color);
    border-color: var(--lotus-button-active-border-color);
    background-color: var(--lotus-button-active-bg-color);
    outline: none;
  }
  &.is-loading,
  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    color: var(--lotus-button-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
    background-color: var(--lotus-button-disabled-bg-color);
    border-color: var(--lotus-button-disabled-border-color);
  }
  [class*="lotus-icon"] {
    width: 1em;
    height: 1em;
  }
  &.button-circle {
    border-radius: 50%;
    padding: 8px;
  }
  &.button-round {
    border-radius: var(--lotus-border-radius-round);
  }
  &.button-large {
    --lotus-button-size: 40px;
    height: var(--lotus-button-size);
    padding: 12px 19px;
    font-size: var(--lotus-font-size-default);
    border-radius: var(--lotus-border-radius-default);
    &.is-circle {
      border-radius: 50%;
      padding: 12px;
    }
  }
  &.button-small {
    --lotus-button-size: 24px;
    height: var(--lotus-button-size);
    padding: 5px 11px;
    font-size: var(--lotus-font-size-default);
    border-radius: var(--lotus-border-radius-default);
    &.button-circle {
      border-radius: 50%;
      padding: 5px;
    }
    [class*="lotus-icon"] {
      width: 12px;
      height: 12px;
    }
  }
  &.button-primary {
    --lotus-button-text-color: var(--text-color-5);
    --lotus-button-bg-color: var(--primary-color);
    --lotus-button-border-color: var(--primary-color);
    --lotus-button-outline-color: var(--primary-hover-color);
    --lotus-button-active-color: var(--primary-hover-color);
    --lotus-button-hover-text-color: var(--text-color-1);
    --lotus-button-hover-bg-color: var(--primary-hover-color);
    --lotus-button-hover-border-color: var(--primary-hover-color);
    --lotus-button-active-bg-color: var(--primary-hover-color);
    --lotus-button-active-border-color: var(--primary-hover-color);
    --lotus-button-disabled-text-color: var(--text-disabled-color);
    --lotus-button-disabled-bg-color: var(--primary-disabled-light-color);
    --lotus-button-disabled-border-color: var(--primary-disabled-light-color);
  }
  &.button-dashed {
    border-style: dashed;
  }
  &.button-outline {
    --lotus-button-text-color: var(--primary-color);
    --lotus-button-border-color: var(--primary-color);
    background-color: transparent;
  }
  &.button-outline:hover {
    --lotus-button-hover-text-color: var(--primary-hover-color);
    --lotus-button-hover-border-color: var(--primary-hover-color);
    background-color: transparent;
  }
  &.button-text {
    background-color: transparent;
    border-color: transparent;
    --lotus-button-text-color: var(--primary-color);
  }
  &.button-text:hover {
    background-color: var(--bg-color);
    --lotus-button-hover-text-color: var(--primary-hover-color);
  }
  &.button-primary {
    @each $val in success, warning, danger {
      &.button-$(val) {
        --lotus-button-text-color: var(--text-color-5);
        --lotus-button-bg-color: var(--$(val)-color);
        --lotus-button-border-color: var(--$(val)-color);
        --lotus-button-outline-color: var(--$(val)-hover-color);
        --lotus-button-active-color: var(--$(val)-hover-color);
        --lotus-button-hover-text-color: var(--text-color-1);
        --lotus-button-hover-bg-color: var(--$(val)-hover-color);
        --lotus-button-hover-border-color: var(--$(val)-hover-color);
        --lotus-button-active-bg-color: var(--$(val)-hover-color);
        --lotus-button-active-border-color: var(--$(val)-hover-color);
        --lotus-button-disabled-text-color: var(--text-disabled-color);
        --lotus-button-disabled-bg-color: var(--$(val)-disabled-light-color);
        --lotus-button-disabled-border-color: var(--$(val)-disabled-light-color);
      }
      &.button-$(val) {
        &.button-dashed {
          border-style: dashed;
        }
      }
      &.button-$(val) + .button-outline {
        --lotus-button-text-color: var(--$(val)-color);
        --lotus-button-border-color: var(--$(val)-color);
        background-color: transparent;
      }
      &.button-$(val) + .button-outline:hover {
        --lotus-button-hover-text-color: var(--$(val)-hover-color);
        --lotus-button-hover-border-color: var(--$(val)-hover-color);
      }
      &.button-$(val) + .button-text {
        background-color: transparent;
        border-color: transparent;
        --lotus-button-text-color: var(--$(val)-color);
      }
      &.button-$(val) + .button-text:hover {
        background-color: var(--bg-color);
        --lotus-button-hover-text-color: var(--$(val)-hover-color);
      }
    }
  }
  &.button-secondary,
  &.button-dashed,
  &.button-outline,
  &.button-text {
    @each $val in success, warning, danger {
      &.button-$(val) {
        --lotus-button-text-color: var(--$(val));
        --lotus-button-bg-color: var(--$(val)-light-color);
        --lotus-button-border-color: var(--$(val)-light-color);
        --lotus-button-outline-color: var(--$(val)-light-color);
        --lotus-button-active-color: var(--$(val)-hover-color);
        --lotus-button-hover-text-color: var(--$(val)-color);
        --lotus-button-hover-bg-color: var(--$(val)-hover-light-color);
        --lotus-button-hover-border-color: var(--$(val)-hover);
        --lotus-button-active-bg-color: var(--$(val)-hover);
        --lotus-button-active-border-color: var(--$(val)-hover);
        --lotus-button-disabled-text-color: var(--$(val)-disabled-light-color);
        --lotus-button-disabled-bg-color: var(--$(val)-light-color);
        --lotus-button-disabled-border-color: var(--color-$(val)-hover-light-color);
      }
      &.button-$(val) {
        &.button-dashed {
          --lotus-button-border-color: var(--$(val)-color);
          border-style: dashed;
        }
      }
      &.button-$(val) + .button-outline {
        --lotus-button-text-color: var(--$(val)-color);
        --lotus-button-border-color: var(--$(val)-color);
        background-color: transparent;
      }
      &.button-$(val) + .button-outline:hover {
        --lotus-button-text-color: var(--$(val)-hover-color);
        --lotus-button-border-color: var(--$(val)-hover-color);
      }
      &.button-$(val) + .button-text {
        background-color: transparent;
        border-color: transparent;
        --lotus-button-text-color: var(--$(val)-color);
      }
      &.button-$(val) + .button-text + &.is-disabled {
        background-color: transparent;
        border-color: transparent;
        color: var(--$(val)-disabled-light-color);
      }
      &.button-$(val) + .button-text:hover {
        background-color: var(--bg-color);
        color: var(--$(val)-disabled-light-color);
      }
    }
  }
}

.lotus-button-group {
  display: inline-block;
  vertical-align: middle;

  &::after {
    clear: both;
  }
  & > .lotus-button {
    float: left;
    position: relative;
    margin-right: 0;
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-color: var(--lotus-button-group-border-color);
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: 0;
      border-left-color: var(--lotus-button-group-border-color);
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
      margin-left: 0;
      border-left-color: var(--lotus-button-group-border-color);
      border-right-color: var(--lotus-button-group-border-color);
    }
    &:not(:last-child) {
      margin-right: -1px;
    }
    &:first-child:last-child {
      border-top-right-radius: var(--lotus-border-radius-base);
      border-bottom-right-radius: var(--lotus-border-radius-base);
      border-top-left-radius: var(--lotus-border-radius-base);
      border-bottom-left-radius: var(--lotus-border-radius-base);

      &.button-round {
        border-radius: var(--lotus-border-radius-round);
      }
      &.button-circle {
        border-radius: 50%;
      }
    }
  }
}
