.lotus-button {
  --lotus-button-font-weight: var(--lotus-font-weight-400);
  --lotus-button-border-color: var(--color-border-normal);
  --lotus-button-bg-color: var(--color-fill-normal);
  --lotus-button-text-color: var(--color-text-normal);
  --lotus-button-disabled-text-color: var(--color-text-disabled);
  --lotus-button-disabled-bg-color: var(--color-fill-disabled);
  --lotus-button-disabled-border-color: var(--color-border-disabled);
  --lotus-button-hover-text-color: var(--color-text-hover);
  --lotus-button-hover-bg-color: var(--color-fill-hover);
  --lotus-button-hover-border-color: var(--color-border-hover);
  --lotus-button-active-text-color: var(--color-text-hover);
  --lotus-button-active-border-color: var(--color-border-hover);
  --lotus-button-active-bg-color: var(--color-fill-hover);
  --lotus-button-outline-color: var(--primary-hover);
  --lotus-button-active-color: var(--primary);
}

.lotus-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: var(--lotus-button-font-weight);
  user-select: none;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  color: var(--lotus-button-text-color);
  background-color: var(--lotus-button-bg-color);
  border-color: var(--lotus-button-border-color);
  border-style: solid;
  border-width: var(--lotus-border-1);
  padding: 8px 15px;
  font-size: var(--lotus-font-size-default);
  border-radius: var(--lotus-border-radius-default);
  & + & {
    margin-left: 12px;
  }
  &:hover,
  &:focus {
    color: var(--lotus-button-hover-text-color);
    border-color: var(--lotus-button-hover-border-color);
    background-color: var(--lotus-button-hover-bg-color);
    outline: none;
  }
  &:active {
    color: var(--lotus-button-active-text-color);
    border-color: var(--lotus-button-active-border-color);
    background-color: var(--lotus-button-active-bg-color);
    outline: none;
  }
  &.is-loading,
  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    color: var(--lotus-button-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
    background-color: var(--lotus-button-disabled-bg-color);
    border-color: var(--lotus-button-disabled-border-color);
  }
  [class*="l-icon"] {
    width: 1em;
    height: 1em;
  }
  &.button-circle {
    border-radius: var(--lotus-border-radius-full);
    padding: 12px;
  }
  &.button-round {
    border-radius: var(--lotus-border-radius-round);
  }
  &.button-large {
    --lotus-button-size: 40px;
    height: var(--lotus-button-size);
    padding: 12px 19px;
    font-size: var(--lotus-font-size-default);
    border-radius: var(--lotus-border-radius-default);
  }
  &.button-small {
    --lotus-button-size: 24px;
    height: var(--lotus-button-size);
    padding: 5px 11px;
    font-size: var(--lotus-font-size-default);
    border-radius: var(--lotus-border-radius-default);
    &.button-circle {
      border-radius: 50%;
      padding: 5px;
    }
  }
  &.button-primary {
    --lotus-button-text-color: var(--color-text);
    --lotus-button-bg-color: var(--primary);
    --lotus-button-border-color: var(--primary);
    --lotus-button-outline-color: var(--primary-hover-light);
    --lotus-button-active-color: var(--primary-hover);
    --lotus-button-hover-text-color: var(--color-text);
    --lotus-button-hover-bg-color: var(--primary-hover);
    --lotus-button-hover-border-color: var(--primary-hover);
    --lotus-button-active-bg-color: var(--primary-hover);
    --lotus-button-active-border-color: var(--primary-hover);
    --lotus-button-disabled-text-color: var(--color-text);
    --lotus-button-disabled-bg-color: var(--primary-disabled);
    --lotus-button-disabled-border-color: var(--primary-hover-light);
  }
  &.button-dashed {
    border-style: dashed;
  }
  &.button-outline {
    --lotus-button-text-color: var(--primary-hover);
    --lotus-button-border-color: var(--primary-hover);
    background-color: transparent;
  }
  &.button-outline:hover {
    --lotus-button-hover-text-color: var(--primary-hover);
    --lotus-button-hover-border-color: var(--primary-hover);
    background-color: transparent;
  }
  &.button-text {
    background-color: transparent;
    border-color: transparent;
    --lotus-button-text-color: var(--primary);
  }
  &.button-text:hover {
    background-color: var(--color-fill-hover);
    --lotus-button-hover-text-color: var(--primary-hover);
  }
  &.button-primary {
    @each $val in success, warning, danger {
      &.button-$(val) {
        --lotus-button-text-color: var(--color-text);
        --lotus-button-bg-color: var(--$(val));
        --lotus-button-border-color: var(--$(val));
        --lotus-button-outline-color: var(--$(val)-hover);
        --lotus-button-active-color: var(--$(val)-hover);
        --lotus-button-hover-text-color: var(--color-text);
        --lotus-button-hover-bg-color: var(--$(val));
        --lotus-button-hover-border-color: var(--$(val)-hover);
        --lotus-button-active-bg-color: var(--$(val)-hover);
        --lotus-button-active-border-color: var(--$(val)-hover);
        --lotus-button-disabled-text-color: var(--color-text);
        --lotus-button-disabled-bg-color: var(--$(val)-disabled);
        --lotus-button-disabled-border-color: var(--$(val)-hover-light);
      }
      &.button-$(val) + .button-dashed {
        border-style: dashed;
      }
      &.button-$(val) + .button-outline {
        --lotus-button-text-color: var(--$(val));
        --lotus-button-border-color: var(--$(val));
        background-color: transparent;
      }
      &.button-$(val) + .button-outline:hover {
        --lotus-button-hover-text-color: var(--$(val)-hover);
        --lotus-button-hover-border-color: var(--$(val)-hover);
      }
      &.button-$(val) + .button-text {
        background-color: transparent;
        border-color: transparent;
        --lotus-button-text-color: var(--$(val));
      }
      &.button-$(val) + .button-text:hover {
        background-color: var(--color-fill-hover);
        --lotus-button-hover-text-color: var(--$(val)-hover);
      }
    }
  }
  &.button-secondary,
  &.button-dashed,
  &.button-outline,
  &.button-text {
    @each $val in success, warning, danger {
      &.button-$(val) {
        --lotus-button-text-color: var(--$(val));
        --lotus-button-bg-color: var(--color-$(val)-light-1);
        --lotus-button-border-color: var(--$(val));
        --lotus-button-outline-color: var(--$(val)-hover-light);
        --lotus-button-active-color: var(--$(val)-hover);
        --lotus-button-hover-text-color: var(--$(val));
        --lotus-button-hover-bg-color: var(--color-$(val)-light-2);
        --lotus-button-hover-border-color: var(--$(val)-hover);
        --lotus-button-active-bg-color: var(--$(val)-hover);
        --lotus-button-active-border-color: var(--$(val)-hover);
        --lotus-button-disabled-text-color: var(--color-$(val)-light-3);
        --lotus-button-disabled-bg-color: var(--color-$(val)-light-1);
        --lotus-button-disabled-border-color: var(--color-$(val)-light-2);
      }
      &.button-$(val) + .button-dashed {
        border-style: dashed;
      }
      &.button-$(val) + .button-outline {
        --lotus-button-text-color: var(--$(val));
        --lotus-button-border-color: var(--$(val));
        background-color: transparent;
      }
      &.button-$(val) + .button-outline:hover {
        --lotus-button-text-color: var(--$(val)-hover);
        --lotus-button-border-color: var(--$(val)-hover);
      }
      &.button-$(val) + .button-text {
        background-color: transparent;
        border-color: transparent;
        --lotus-button-text-color: var(--$(val));
      }
      
      &.button-$(val) + .button-text + &.is-disabled {
        background-color: transparent;
        border-color: transparent;
        color: var(--color-$(val)-light-3);
      }
      &.button-$(val) + .button-text:hover {
        background-color: var(--color-fill-hover);
        color: var(--color-$(val)-light-3);
      }
    }
  }
}
