.lotus-row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;

  &.is-justify-end {
    justify-content: end;
  }

  &.is-justify-center {
    justify-content: center;
  }

  &.is-justify-space-around {
    justify-content: space-around;
  }

  &.is-justify-space-between {
    justify-content: space-between;
  }

  &.is-justify-space-evenly {
    justify-content: space-evenly;
  }

  &.is-align-top {
    align-items: flex-start;
  }

  &.is-align-middle {
    align-items: center;
  }

  &.is-align-bottom {
    align-items: flex-end;
  }
}
